    <table>
<tr>
<th>Date</th>
<th>Libelle</th>
<th>Quantité</th>
<th>Prix Unitaire</th>

<th> </th>
<th> </th>

</tr>
{% for fiche in ficheFraisHorsForfait %}
    <tr>
    <td><center>{{fiche.libelle}}</center></td>
    <td><center>{{fiche.date|date('d-m-Y')}}</center></td>
    <td><center>{{fiche.qte}}</center></td>
    <td><center>{{fiche.prixunitaire}}</center></td>
    
    <td><center>  <form action="{{ path('modifier_fiche_frais_hors_forfait', {'idfichefraishorsforfait': fiche.idFicheFraisHorsForfait })}}">
  <input type="submit" value="Mettre à jour">
  </form></center></td>
  
  <td><center> <form action="{{ path('supprimer_fiche_frais_hors_forfait', {'idfichefraishorsforfait': fiche.idFicheFraisHorsForfait })}}">
  <input type="submit" value="Supprimer"> </form></center></td>
    
    </tr>
    
    
    {% endfor %}
    
    
    </table> 